p{
    margin: 0 10px;
}
iframe{
    width: 100%;
    height: 33vw;

}
.border-top{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.border-bot{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-item{
    height: 80%;
}
.v-margin{
    margin: 10px 0;
}
.bold{
    font-weight: bold;
}
.comment{
    width: 100%;
    margin-top: 20px;
}
.portrait{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
}
.side-item{
    margin-top: 20px;
    height: 9vw;
}
.side-img{
    width: 15vw;
}
.contained-img{
    height: 100%;
    width: 100%;
}
.small-link{
    margin: 0 10px;
    height: 80%;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.center{
    justify-content: center;
}
.your-comment{
    margin-left: 10px;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}
.video-info{
    padding: 10px;
    height: 120px;
    overflow: auto;
}
#navbar{
    width: 100vw;
    height: 40px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
}
#main{
    width: 90%;
    margin: 60px auto 0 auto;
    display: grid;
    /*grid-template-rows: 15vw auto 1fr;
    grid-template-columns: repeat(3, 27vw);
    grid-template-areas: 
    "video video ads"
    "video video side"
    "comments comments side";*/
    grid-gap: 2vw;
}
#video-section{
    /*grid-area: video;*/
    grid-area: 1/1/3/3;
}
#comments{
    /*grid-area: comments;*/
    grid-area: 3/1/4/3;
}
#ads{
    grid-area: 1/3/2/4;
    /*grid-area: ads;*/
}
#sidebar{
    /*grid-area: side;*/
    grid-area: 2/3/4/4;
}